Repository sigopt/libsigopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, apply-copyright-notice

pylint:
  name: pylint
  entry: env PYTHONPATH=./test pylint
  language: system
  args:
  - -rn
  - -sn

apply-copyright-notice:
  name: Apply the copywright notice
  description: This hook applies the copyright notice and license disclaimer to all files.
  entry: tools/check_copyright_and_license_disclaimers.py --fix-in-place
  language: python

add tests
  test/testaux/utils_test.py
Due: pylint, apply-copyright-notice

lint
  libsigopt/aux/utils.py
Due: pylint, apply-copyright-notice

add file
  libsigopt/aux/utils.py
Due: pylint, apply-copyright-notice

remove numpy from utils
  libsigopt/aux/utils.py
Due: pylint, apply-copyright-notice

is number (#25)
  libsigopt/aux/utils.py
  libsigopt/aux/validate_schema.py
  test/testaux/utils_test.py
Due: pylint, apply-copyright-notice

remove rules that were already enforced
  .pylintrc
Due: none

Fix libsigopt pkg (#30)
  .gitignore
  setup.cfg
Due: none

remove rules that were already enforced (#32)
  .pylintrc
Due: none

Pytest actually picks up the schema validation unittest (#29)
  test/testaux/validate_schema_test.py
Due: pylint, apply-copyright-notice

add package instructions
  PACKAGE.md
Due: apply-copyright-notice

cough
  PACKAGE.md
Due: apply-copyright-notice

add py.typed
  libsigopt/py.typed
Due: none

enable type checking
  .pre-commit-config.yaml
  libsigopt/__init__.py
  setup.cfg
Due: pylint, apply-copyright-notice

add package instructions and 1.0.0 release branch (#33)
  PACKAGE.md
Due: apply-copyright-notice

up the tol
  test/testcompute/python_utils_test.py
Due: pylint, apply-copyright-notice

Make test less flaky (#34)
  test/testcompute/python_utils_test.py
Due: pylint, apply-copyright-notice

assert mmi is set
  libsigopt/views/view.py
Due: pylint, apply-copyright-notice

fix covariance test
  test/testcompute/covariance_test.py
Due: pylint, apply-copyright-notice

add skip and seed
  libsigopt/compute/domain.py
Due: pylint, apply-copyright-notice

explicit sampler opts
  libsigopt/views/rest/spe_next_points.py
Due: pylint, apply-copyright-notice

add slots
  libsigopt/compute/misc/multimetric.py
Due: pylint, apply-copyright-notice

empty array initialization
  libsigopt/compute/misc/data_containers.py
Due: pylint, apply-copyright-notice

fix log likelihood test
  libsigopt/compute/log_likelihood.py
Due: pylint, apply-copyright-notice

no conflict
  libsigopt/compute/misc/multimetric.py
Due: pylint, apply-copyright-notice

sort domain components
  test/testaux/utils.py
Due: pylint, apply-copyright-notice

fix domain components
  test/testviews/rest/gp_next_points_test.py
Due: pylint, apply-copyright-notice

include py.typed in package
  setup.cfg
Due: none

tuple for interval domain
  libsigopt/compute/domain.py
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
  test/testaux/constraints_test.py
  test/testaux/utils.py
  test/testcompute/domain_test.py
  test/testcompute/fixed_parameters_optimization_test.py
  test/testcompute/gaussian_process_sum_test.py
  test/testcompute/gaussian_process_test_case.py
  test/testcompute/misc/multimetric_filtering_test.py
  test/testcompute/multitask_af_test.py
  test/testcompute/search_test.py
  test/testcompute/vectorized_optimizers_test.py
  test/testviews/rest/gp_hyper_opt_test.py
  test/testviews/rest/gp_next_points_test.py
  test/testviews/rest/multisolution_best_assignments_test.py
  test/testviews/rest/random_search_next_points_test.py
  test/testviews/rest/spe_next_points_test.py
  test/testviews/view_test.py
Due: pylint, apply-copyright-notice

remove TestHasPredictor tests
  test/testcompute/gaussian_process_test.py
Due: pylint, apply-copyright-notice

int => float
  libsigopt/compute/domain.py
Due: pylint, apply-copyright-notice

singular
  libsigopt/compute/domain.py
Due: pylint, apply-copyright-notice

fix pkp_chol
  libsigopt/compute/log_likelihood.py
Due: pylint, apply-copyright-notice

gp_terms_for_non_zero_mean
  libsigopt/compute/log_likelihood.py
Due: pylint, apply-copyright-notice

revert test
  test/testaux/utils.py
Due: pylint, apply-copyright-notice

fix
  test/testaux/utils.py
Due: pylint, apply-copyright-notice

_UNSET_CLS => None, pylint upgrade
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
  libsigopt/views/rest/search_next_points.py
  libsigopt/views/rest/spe_search_next_points.py
  libsigopt/views/view.py
  requirements-dev.txt
  test/testviews/view_test.py
Due: pylint, apply-copyright-notice

fix pylint issue
  libsigopt/compute/misc/multimetric.py
Due: pylint, apply-copyright-notice

griddomain => sequentialdomain
  libsigopt/compute/domain.py
  test/testviews/rest/gp_next_points_test.py
Due: pylint, apply-copyright-notice

Path conditions:
  pylint: any of: \.py$
  apply-copyright-notice: any of: \.(md|markdown|mdown)$, \.py$
