Repository sigopt/libsigopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, apply-copyright-notice

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

apply-copyright-notice:
  name: Apply the copywright notice
  description: This hook applies the copyright notice and license disclaimer to all files.
  entry: tools/check_copyright_and_license_disclaimers.py --fix-in-place
  language: python

install all reqs
  .circleci/config.yml
Due: none

remove hooks
  .pre-commit-hooks.yaml
Due: none

add pylint back to reqs
  requirements-dev.txt
Due: none

revert circleci change for test
  .circleci/config.yml
Due: none

add trivy config
  trivy.yaml
Due: none

run the trivy scan in CI
  .circleci/config.yml
Due: none

install everything
  .circleci/config.yml
Due: none

pre commit status
  README.md
Due: apply-copyright-notice

local copyright notice
  .pre-commit-config.yaml
Due: none

add random search to view
  libsigopt/compute/views/rest/random_search_next_points.py
Due: pylint, apply-copyright-notice

skip aws creds check on ci
  .pre-commit-config.yaml
Due: none

Pylint (#12)
  .circleci/config.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .pylintrc
  requirements-dev.txt
Due: none

skip pylint pre-commit ci
  .pre-commit-config.yaml
Due: none

remove pre-commit from circleci
  .circleci/config.yml
Due: none

add back pylint job
  .circleci/config.yml
Due: none

requirements-dev
  .circleci/config.yml
Due: none

test removing license
  README.md
Due: apply-copyright-notice

git ls-files
  .circleci/config.yml
Due: none

Pre commit tweaks (#13)
  .circleci/config.yml
  .pre-commit-config.yaml
  README.md
Due: apply-copyright-notice

table output
  .circleci/config.yml
  trivy.yaml
Due: none

debug
  .circleci/config.yml
Due: none

Trivy (#14)
  .circleci/config.yml
  trivy.yaml
Due: none

contributing md
  CONTRIBUTING.md
Due: apply-copyright-notice

add flake8
  .pre-commit-config.yaml
  setup.cfg
Due: none

we dont have guildelines
  CONTRIBUTING.md
Due: apply-copyright-notice

disable sort-simple-yaml
  .pre-commit-config.yaml
Due: none

add flake8 (#16)
  .pre-commit-config.yaml
  setup.cfg
Due: none

disable sort-simple-yaml (#17)
  .pre-commit-config.yaml
Due: none

mv views
  libsigopt/views/__init__.py
  libsigopt/views/rest/__init__.py
  libsigopt/views/rest/gp_ei_categorical.py
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
  libsigopt/views/rest/gp_next_points_categorical.py
  libsigopt/views/rest/multisolution_best_assignments.py
  libsigopt/views/rest/random_search_next_points.py
  libsigopt/views/rest/search_next_points.py
  libsigopt/views/rest/spe_next_points.py
  libsigopt/views/rest/spe_search_next_points.py
  libsigopt/views/view.py
Due: pylint, apply-copyright-notice

mv imports
  libsigopt/views/rest/gp_ei_categorical.py
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
  libsigopt/views/rest/gp_next_points_categorical.py
  libsigopt/views/rest/multisolution_best_assignments.py
  libsigopt/views/rest/random_search_next_points.py
  libsigopt/views/rest/search_next_points.py
  libsigopt/views/rest/spe_next_points.py
  libsigopt/views/rest/spe_search_next_points.py
  test/testcompute/vectorized_optimizers_test.py
  test/testcompute/views/rest/gp_ei_test.py
  test/testcompute/views/rest/gp_hyper_opt_test.py
  test/testcompute/views/rest/gp_next_points_test.py
  test/testcompute/views/rest/multisolution_best_assignments_test.py
  test/testcompute/views/rest/search_next_points_test.py
  test/testcompute/views/rest/spe_next_points_test.py
  test/testcompute/views/rest/spe_search_next_points_test.py
  test/testcompute/views/view_test.py
Due: pylint, apply-copyright-notice

Add contributing.md (#15)
  CONTRIBUTING.md
Due: apply-copyright-notice

max line length 120
  pyproject.toml
Due: none

cherry-pick black change
  pyproject.toml
Due: none

get pre-commit config
  .pre-commit-config.yaml
Due: none

blacken
  libsigopt/compute/covariance.py
  libsigopt/compute/covariance_base.py
  libsigopt/compute/expected_improvement.py
  libsigopt/compute/gaussian_process.py
  libsigopt/compute/log_likelihood.py
  libsigopt/compute/misc/data_containers.py
  libsigopt/compute/multitask_covariance.py
  libsigopt/compute/python_utils.py
  libsigopt/compute/sigopt_parzen_estimator.py
  libsigopt/views/rest/gp_ei_categorical.py
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
  libsigopt/views/rest/gp_next_points_categorical.py
  libsigopt/views/rest/random_search_next_points.py
  libsigopt/views/rest/spe_next_points.py
  setup.cfg
  tools/check_copyright_and_license_disclaimers.py
Due: pylint, apply-copyright-notice

stylistic update
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
Due: pylint, apply-copyright-notice

change test directory
  test/testcompute/gaussian_process_test_case.py
  test/testcompute/misc/multimetric_filtering_test.py
  test/testcompute/search_test.py
  test/testcompute/spe_test.py
  test/testviews/__init__.py
  test/testviews/rest/.random_search_next_points_test.py.swp
  test/testviews/rest/__init__.py
  test/testviews/rest/gp_ei_test.py
  test/testviews/rest/gp_hyper_opt_test.py
  test/testviews/rest/gp_next_points_test.py
  test/testviews/rest/multisolution_best_assignments_test.py
  test/testviews/rest/random_search_next_points_test.py
  test/testviews/rest/search_next_points_test.py
  test/testviews/rest/spe_next_points_test.py
  test/testviews/rest/spe_search_next_points_test.py
  test/testviews/view_test.py
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

Path conditions:
  pylint: any of: \.py$
  apply-copyright-notice: any of: \.(md|markdown|mdown)$, \.py$
