Repository sigopt/libsigopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, apply-copyright-notice

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=100]
      - id: check-ast
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/black.git
    rev: sigopt-22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: env PYTHONPATH=./test pylint
        language: system
        types: [python]
        args: ["-rn", "-sn"]
      - id: apply-copyright-notice
        name: Apply the copywright notice
        description: This hook applies the copyright notice and license disclaimer to all files.
        entry: tools/check_copyright_and_license_disclaimers.py --fix-in-place
        language: python
        types_or:
          - markdown
          - python

require typing-extensions
  requirements.txt
Due: none

require typing-extensions (#36)
  requirements.txt
Due: none

tests in github actions
  .github/workflows/tests.yml
Due: none

Update GitHub Actions workflow for running Trivy tests with a more descriptive checkout step.
  .github/workflows/tests.yml
Due: none

upgrade pip and setuptools
  .github/workflows/tests.yml
Due: none

Update tests.yml to remove Python 3.7 version since pre-commit doesn't support it.
  .github/workflows/tests.yml
Due: none

Update Python requirements to >=3.10 due to the use of slots in dataclass. Adjust the matrix strategy in tests.yml for 3.10 and 3.11.
  .github/workflows/tests.yml
  setup.cfg
Due: none

Add test suites: testaux, testcompute and testviews.
  .github/workflows/tests.yml
Due: none

empty circleci config
  .circleci/config.yml
Due: none

Fix Python test workflow to only test against Python 3.10 version due to compatibility issue with Numpy API.
  .github/workflows/tests.yml
Due: none

Delete CircleCI configuration file.
  .circleci/config.yml
Due: none

Github actions (#37)
  .circleci/config.yml
  .github/workflows/tests.yml
  setup.cfg
Due: none

enable tests python 3.7
  .github/workflows/tests.yml
Due: none

pre-commit 2 or higher
  requirements-dev.txt
Due: none

try older numpy
  requirements.txt
Due: none

lower scipy version
  requirements.txt
Due: none

reduce python requires
  setup.cfg
Due: none

remove slots argument to dataclass
  libsigopt/aux/adapter_info_containers.py
  libsigopt/compute/expected_improvement.py
  libsigopt/compute/gaussian_process.py
  libsigopt/compute/misc/multimetric.py
  libsigopt/compute/optimization_auxiliary.py
  libsigopt/compute/predictor.py
  libsigopt/compute/probabilistic_failures.py
  libsigopt/compute/search.py
Due: pylint, apply-copyright-notice

update readme
  README.md
  img/sigoopt-horz-blue.png
Due: apply-copyright-notice

add links to references and books
  README.md
Due: apply-copyright-notice

update readme (#38)
  README.md
  img/sigoopt-horz-blue.png
Due: apply-copyright-notice

center logo image
  README.md
Due: apply-copyright-notice

center logo image (#39)
  README.md
Due: apply-copyright-notice

daily scans
  .github/workflows/security.yml
Due: none

appropriate badges on readme
  README.md
Due: apply-copyright-notice

daily scans (#43)
  .github/workflows/security.yml
Due: none

appropriate badges on readme (#42)
  README.md
Due: apply-copyright-notice

Add read-all to verify
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

Add read-all to verify (#48)
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Add ossf widget to readme
  README.md
Due: apply-copyright-notice

OSSF integrated (#49)
  .github/workflows/scorecard.yml
  README.md
Due: apply-copyright-notice

codeowners
  CODEOWNERS
Due: none

codeowners (#52)
  CODEOWNERS
Due: none

Bump ossf
  .github/workflows/scorecard.yml
Due: none

Bump ossf (#54)
  .github/workflows/scorecard.yml
Due: none

change codeowners
  CODEOWNERS
Due: none

change codeowners (#57)
  CODEOWNERS
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

assign to chris and taylor
  .github/auto_assign-issues.yml
Due: none
