Repository sigopt/libsigopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, apply-copyright-notice

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=100]
      - id: check-ast
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/black.git
    rev: sigopt-22.10.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: env PYTHONPATH=./test pylint
        language: system
        types: [python]
        args: ["-rn", "-sn"]
      - id: apply-copyright-notice
        name: Apply the copywright notice
        description: This hook applies the copyright notice and license disclaimer to all files.
        entry: tools/check_copyright_and_license_disclaimers.py --fix-in-place
        language: python
        types_or:
          - markdown
          - python

assign to chris and taylor (#63)
  .github/auto_assign-issues.yml
Due: none

Control at team level
  CODEOWNERS
Due: none

Control at team level (#65)
  CODEOWNERS
Due: none

Update copyright
  CONTRIBUTING.md
Due: apply-copyright-notice

coverity scan workflow
  .github/workflows/coverity.yml
Due: none

on push to main
  .github/workflows/coverity.yml
Due: none

Coverity scan (#67)
  .github/workflows/coverity.yml
Due: none

Read-all for coverity perms
  .github/workflows/coverity.yml
Due: none

Read-all for coverity perms (#68)
  .github/workflows/coverity.yml
Due: none

Bump to checkoutv4 to fix old node
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

Bump to checkoutv4 to fix old node (#71)
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

variable pi not assigned
  libsigopt/compute/search.py
Due: pylint, apply-copyright-notice

variable pi not assigned (#73)
  libsigopt/compute/search.py
Due: pylint, apply-copyright-notice

Attempt to make mypy happy
  libsigopt/compute/vectorized_optimizers.py
Due: pylint, apply-copyright-notice

Attempt to make mypy happy (#87)
  libsigopt/compute/vectorized_optimizers.py
Due: pylint, apply-copyright-notice

First attempt to fix
  libsigopt/compute/expected_improvement.py
Due: pylint, apply-copyright-notice

Fix more too-many-positional-arguments
  libsigopt/compute/log_likelihood.py
  libsigopt/compute/misc/multimetric.py
  libsigopt/compute/sigopt_parzen_estimator.py
Due: pylint, apply-copyright-notice

Fix more rules, ignore tests.
  libsigopt/compute/vectorized_optimizers.py
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
  libsigopt/views/rest/spe_next_points.py
  libsigopt/views/view.py
  test/testaux/numerical_test_case.py
  test/testcompute/spe_test.py
Due: pylint, apply-copyright-notice

Ignore new pylint role for tests
  test/testviews/rest/gp_ei_test.py
  test/testviews/rest/gp_hyper_opt_test.py
  test/testviews/rest/gp_next_points_test.py
  test/testviews/rest/search_next_points_test.py
  test/testviews/rest/spe_next_points_test.py
  test/testviews/view_test.py
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

Ignore new pylint role for test
  test/testviews/rest/spe_search_next_points_test.py
Due: pylint, apply-copyright-notice

Add type for extended_weights
  libsigopt/views/rest/gp_next_points_categorical.py
Due: pylint, apply-copyright-notice

Set python version for pylint
  .github/workflows/tests.yml
Due: none

Set python version for pylint (#111)
  .github/workflows/tests.yml
Due: none

Fix breaking change in qmcpy.Halton() function definition
  libsigopt/aux/samplers.py
Due: pylint, apply-copyright-notice

Bump qmcpy to latest
  requirements.txt
Due: none

Fix mypy
  libsigopt/views/rest/gp_next_points_categorical.py
  test/testcompute/misc/multimetric_filtering_test.py
Due: pylint, apply-copyright-notice

Set archive
  README.md
Due: apply-copyright-notice
