Repository sigopt/libsigopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, apply-copyright-notice

pylint:
  name: pylint
  entry: env PYTHONPATH=./test pylint
  language: system
  args:
  - -rn
  - -sn

apply-copyright-notice:
  name: Apply the copywright notice
  description: This hook applies the copyright notice and license disclaimer to all files.
  entry: tools/check_copyright_and_license_disclaimers.py --fix-in-place
  language: python

duck typing view
  libsigopt/views/rest/random_search_next_points.py
  test/testviews/rest/.random_search_next_points_test.py.swp
  test/testviews/rest/random_search_next_points_test.py
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

more tests
  libsigopt/views/rest/random_search_next_points.py
  test/testviews/rest/random_search_next_points_test.py
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

isort
  .pre-commit-config.yaml
  pyproject.toml
Due: none

run isort
  libsigopt/compute/acquisition_function_optimization.py
  libsigopt/compute/covariance.py
  libsigopt/compute/expected_improvement.py
  libsigopt/compute/misc/multimetric.py
  libsigopt/compute/python_utils.py
  libsigopt/compute/views/rest/gp_ei_categorical.py
  libsigopt/compute/views/rest/gp_next_points_categorical.py
  libsigopt/compute/views/rest/search_next_points.py
  libsigopt/compute/views/rest/spe_next_points.py
  libsigopt/compute/views/rest/spe_search_next_points.py
  libsigopt/compute/views/view.py
  test/testaux/constraints_test.py
  test/testaux/geometry_utils_test.py
  test/testcompute/covariance_test.py
  test/testcompute/domain_test.py
  test/testcompute/expected_improvement_test.py
  test/testcompute/fixed_parameters_optimization_test.py
  test/testcompute/gaussian_process_sum_test.py
  test/testcompute/gaussian_process_test.py
  test/testcompute/gaussian_process_test_case.py
  test/testcompute/log_likelihood_test.py
  test/testcompute/misc/metric_midpoint_info_test.py
  test/testcompute/misc/multimetric_filtering_test.py
  test/testcompute/multitask_af_test.py
  test/testcompute/optimization_test.py
  test/testcompute/probabilistic_failures_test.py
  test/testcompute/python_utils_test.py
  test/testcompute/search_test.py
  test/testcompute/spe_test.py
  test/testcompute/vectorized_optimizers_test.py
  test/testcompute/views/rest/gp_ei_test.py
  test/testcompute/views/rest/gp_hyper_opt_test.py
  test/testcompute/views/rest/gp_next_points_test.py
  test/testcompute/views/rest/multisolution_best_assignments_test.py
  test/testcompute/views/rest/search_next_points_test.py
  test/testcompute/views/rest/spe_next_points_test.py
  test/testcompute/views/rest/spe_search_next_points_test.py
  test/testcompute/views/view_test.py
  test/testcompute/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

run isort
  libsigopt/compute/acquisition_function_optimization.py
  libsigopt/compute/covariance.py
  libsigopt/compute/expected_improvement.py
  libsigopt/compute/misc/multimetric.py
  libsigopt/compute/python_utils.py
  libsigopt/views/rest/gp_next_points_categorical.py
  libsigopt/views/rest/random_search_next_points.py
  libsigopt/views/rest/search_next_points.py
  libsigopt/views/rest/spe_next_points.py
  libsigopt/views/view.py
  test/testaux/constraints_test.py
  test/testaux/geometry_utils_test.py
  test/testcompute/covariance_test.py
  test/testcompute/domain_test.py
  test/testcompute/expected_improvement_test.py
  test/testcompute/fixed_parameters_optimization_test.py
  test/testcompute/gaussian_process_sum_test.py
  test/testcompute/gaussian_process_test.py
  test/testcompute/gaussian_process_test_case.py
  test/testcompute/log_likelihood_test.py
  test/testcompute/misc/metric_midpoint_info_test.py
  test/testcompute/misc/multimetric_filtering_test.py
  test/testcompute/multitask_af_test.py
  test/testcompute/optimization_test.py
  test/testcompute/probabilistic_failures_test.py
  test/testcompute/python_utils_test.py
  test/testcompute/search_test.py
  test/testcompute/spe_test.py
  test/testcompute/vectorized_optimizers_test.py
  test/testviews/rest/gp_ei_test.py
  test/testviews/rest/gp_hyper_opt_test.py
  test/testviews/rest/gp_next_points_test.py
  test/testviews/rest/multisolution_best_assignments_test.py
  test/testviews/rest/random_search_next_points_test.py
  test/testviews/rest/search_next_points_test.py
  test/testviews/rest/spe_next_points_test.py
  test/testviews/rest/spe_search_next_points_test.py
  test/testviews/view_test.py
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

loggin_service?
  libsigopt/views/rest/random_search_next_points.py
Due: pylint, apply-copyright-notice

simpler test setup
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

update views for multitask
  libsigopt/views/rest/random_search_next_points.py
  test/testviews/rest/random_search_next_points_test.py
Due: pylint, apply-copyright-notice

actually add tasks
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

hook up circleci
  .circleci/config.yml
Due: none

oops
  .circleci/config.yml
Due: none

typo
  .circleci/config.yml
Due: none

set env
  .circleci/config.yml
Due: none

parallel 2
  .circleci/config.yml
Due: none

fix typo
  .pre-commit-config.yaml
Due: none

fix typo (#21)
  .pre-commit-config.yaml
Due: none

RandomSearchNextPoints (#18)
  .circleci/config.yml
  libsigopt/views/__init__.py
  libsigopt/views/rest/__init__.py
  libsigopt/views/rest/gp_ei_categorical.py
  libsigopt/views/rest/gp_hyper_opt_multimetric.py
  libsigopt/views/rest/gp_next_points_categorical.py
  libsigopt/views/rest/multisolution_best_assignments.py
  libsigopt/views/rest/random_search_next_points.py
  libsigopt/views/rest/search_next_points.py
  libsigopt/views/rest/spe_next_points.py
  libsigopt/views/rest/spe_search_next_points.py
  libsigopt/views/view.py
  test/testcompute/gaussian_process_test_case.py
  test/testcompute/misc/multimetric_filtering_test.py
  test/testcompute/search_test.py
  test/testcompute/spe_test.py
  test/testcompute/vectorized_optimizers_test.py
  test/testviews/__init__.py
  test/testviews/rest/__init__.py
  test/testviews/rest/gp_ei_test.py
  test/testviews/rest/gp_hyper_opt_test.py
  test/testviews/rest/gp_next_points_test.py
  test/testviews/rest/multisolution_best_assignments_test.py
  test/testviews/rest/random_search_next_points_test.py
  test/testviews/rest/search_next_points_test.py
  test/testviews/rest/spe_next_points_test.py
  test/testviews/rest/spe_search_next_points_test.py
  test/testviews/view_test.py
  test/testviews/zigopt_input_utils.py
Due: pylint, apply-copyright-notice

Add schema validation to aux
  libsigopt/aux/errors.py
  libsigopt/aux/validate_schema.py
  test/testaux/validate_schema.py
Due: pylint, apply-copyright-notice

Fix lint
  libsigopt/aux/validate_schema.py
  test/testaux/validate_schema.py
Due: pylint, apply-copyright-notice

Change error super calls
  libsigopt/aux/errors.py
Due: pylint, apply-copyright-notice

Update for comments
  libsigopt/aux/errors.py
  libsigopt/aux/validate_schema.py
  test/testaux/validate_schema.py
Due: pylint, apply-copyright-notice

Schema validation (#22)
  libsigopt/aux/errors.py
  libsigopt/aux/validate_schema.py
  test/testaux/validate_schema.py
Due: pylint, apply-copyright-notice

update pre-commit hooks, use sigopt-tools
  .pre-commit-config.yaml
  tools/check_copyright_and_license_disclaimers.py
Due: pylint, apply-copyright-notice

update pre-commit hooks, use sigopt-tools (#23)
  .pre-commit-config.yaml
  tools/check_copyright_and_license_disclaimers.py
Due: pylint, apply-copyright-notice

update readme
  README.md
Due: apply-copyright-notice

grammar
  README.md
Due: apply-copyright-notice

Update readme (#24)
  README.md
Due: apply-copyright-notice

mv error
  libsigopt/aux/errors.py
Due: pylint, apply-copyright-notice

`SigoptComputeError` (#26)
  libsigopt/aux/errors.py
Due: pylint, apply-copyright-notice

intel security disclaimer
  SECURITY.md
Due: apply-copyright-notice

intel security disclaimer (#27)
  SECURITY.md
Due: apply-copyright-notice

mypy configuration and fixes
  .pre-commit-config.yaml
  libsigopt/__init__.py
  libsigopt/aux/adapter_info_containers.py
  libsigopt/compute/covariance_base.py
  libsigopt/compute/domain.py
  libsigopt/compute/misc/multimetric.py
  libsigopt/compute/optimization.py
  libsigopt/compute/vectorized_optimizers.py
  libsigopt/views/rest/spe_next_points.py
  libsigopt/views/view.py
  test/testcompute/gaussian_process_sum_test.py
  test/testviews/view_test.py
Due: pylint, apply-copyright-notice

actually pick up the unit test
  test/testaux/validate_schema_test.py
Due: pylint, apply-copyright-notice

passes?
  test/testaux/validate_schema_test.py
Due: pylint, apply-copyright-notice

ignore artifact
  .gitignore
Due: none

only include libsigopt
  setup.cfg
Due: none

add is number
  libsigopt/aux/validate_schema.py
Due: pylint, apply-copyright-notice

Path conditions:
  pylint: any of: \.py$
  apply-copyright-notice: any of: \.(md|markdown|mdown)$, \.py$
